---
import { getImage, Image } from "astro:assets";

import miniLogo from "../assets/miniLogo.svg";
import blobBg from "../assets/main_blob.png";
import blob4Bg from "../assets/blob4.png";
import proof1 from "../assets/proof1.svg";
import proof2 from "../assets/proof2.svg";
import proof3 from "../assets/proof3.svg";
import aptos from "../assets/aptos.svg";
import bapt from "../assets/bapt.svg";
import renegades from "../assets/renegades.svg";
import sphera from "../assets/sphera.png";
import townespace from "../assets/townespace.svg";
import townesquare from "../assets/townesquare.svg";

const optBg = await getImage({
  src: blobBg,
  format: "webp",
});
const optBlob4Bg = await getImage({
  src: blob4Bg,
  format: "webp",
});
---

<section
  class="first max-w-[1140px] mx-auto mt-12 rounded-[20px] p-10 border border-solid border-[#967FC480] flex items-center"
  style={`background-image: url(${optBg.src});`}
>
  <div class="flex-1 flex justify-center">
    <Image
      src={miniLogo}
      alt={"Code & Ledger Logo"}
      width={miniLogo.width}
      height={miniLogo.height}
      class="max-w-none"
    />
  </div>
  <div class="flex-3.5 flex flex-col gap-6">
    <h2 class="font-bold text-[40px] text-text font-mont">
      Proof of Collaboration Protocol
    </h2>
    <p class="font-inter text-textAccent text-base font-normal">
      Introducing our feature - the Code & Ledger NFT Certification, known as
      "PoCP." Each successful collaboration results in a soulbound NFT, a
      digital testament to our commitment to excellence and security in every
      project...
    </p>
    <a href="/" class="font-inter font-normal text-text underline">Read more</a>
  </div>
</section>
<section
  class="second max-w-[1140px] mx-auto pt-[290px] flex gap-[120px] pb-[100px]"
  style={`background-image: url(${optBlob4Bg.src});`}
>
  <h2 class="font-bold text-6xl text-text font-inter text-stroke flex-1 mt-7">
    What Proof of Collaboration Includes
  </h2>
  <div
    class="border-[#967FC480] border rounded-[20px] p-[10px] bg-[#050C31] w-[600px]"
  >
    <div class="card">
      <Image
        src={proof1}
        alt="proof1"
        width={proof1.width}
        height={proof1.height}
      />
      <h3 class="font-mont font-semibold text-2xl text-text">
        Project Approval Metadata
      </h3>
      <p class="font-inter font-normal text-base text-textAccent">
        Clearly states Code & Ledger's approval of the project.
      </p>
    </div>
    <div class="card">
      <Image
        src={proof2}
        alt="proof2"
        width={proof2.width}
        height={proof2.height}
      />
      <h3 class="font-mont font-semibold text-2xl text-text">Audit Status</h3>
      <p class="font-inter font-normal text-base text-textAccent">
        Indicates whether the developed protocol underwent a comprehensive audit
        before deployment.
      </p>
    </div>
    <div class="card">
      <Image
        src={proof3}
        alt="proof3"
        width={proof3.width}
        height={proof3.height}
      />
      <h3 class="font-mont font-semibold text-2xl text-text">
        Project Details
      </h3>
      <p class="font-inter font-normal text-base text-textAccent">
        Key information about the project, encapsulated within the metadata
      </p>
    </div>
  </div>
</section>
<section class="mx-auto max-w-[1140px] mb-36 mt-16">
  <h2 class="font-mont text-text font-bold text-4xl text-center">
    Co-built by us
  </h2>
  <div class="flex justify-center items-center gap-10 mt-9">
    <Image src={aptos} alt="Aptos" width={aptos.width} height={aptos.height} />
    <Image src={bapt} alt="Bapt" width={bapt.width} height={bapt.height} />
    <Image
      src={renegades}
      alt="Renegades"
      width={renegades.width}
      height={renegades.height}
    />
    <Image
      src={sphera}
      alt="Sphera"
      width={sphera.width}
      height={sphera.height}
    />
    <Image
      src={townespace}
      alt="Townespace"
      width={townespace.width}
      height={townespace.height}
    />
    <Image
      src={townesquare}
      alt="Townesquare"
      width={townesquare.width}
      height={townesquare.height}
    />
  </div>
</section>
<style>
  section.first {
    background-position: center;
    box-shadow: 0px 50px 200px 0px #967fc44d;
  }
  section.second {
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 160% 40%;
  }
  .card {
    @apply p-5 flex flex-col gap-4;
  }
</style>
